.navbar{
    text-decoration: none;
    background-color: green; font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;

}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 35px;
    font-weight: 600;
    color: white;
    

}
.lists{
    list-style: none;
    display: inline-flex;
    

}
.lists a{
    
color: white;
font-size: 18px;
font-weight: bold;
margin-right: 25px ;
}





.gallery-title {
    background-color: cornflowerblue;
    margin: 2px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container img{
    width: 300px;
    height: 200px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
 .container img:hover {
    filter: grayscale(1);
    transform: scale(1.03)

 }





.page-title {
    background-color: darkslateblue;
    color: azure;
    box-shadow: 4px 7px 7px 0px green;
    position: static;
}
    nav {
        padding: 20px;
        margin-left: 30px;
}



.about {
    padding: 0 50px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    
}

.intro{
    flex: 1;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cv {
color: black;
padding: 30px;
}

.contact{
max-width: 100px;
padding: 20px;
border: 50px;
position:absolute;
}




/*This the section for my CV.*/


@import url('https:fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.pdf {
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container-2{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}




.left-side{
    position: relative;
    background-color: #003147;
    padding: 40px;

}

.profile-text {
    position: relative;
    display: flex;

    
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-2 h2{
    color: #ffff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 1.2em;
}

container-2 h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 40px;

}
.title{
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;

}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}

.contactInfo ul li .icon{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    color: #03a9f4;

}
.contactInfo ul li{
    color: #ffff;
    font-weight: 300;
}
.contactInfo.education li{
    margin-bottom: 15px;

}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;

}
.contactInfo.education h4:nth-child(2)
{
    color: #ffff;
    font-weight: 300;
}
.percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color:gray;
    display: block;
    margin-top: 5px;
}
.percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightblue;
}

.right-side{
position: relative;
    background-color: #ffff;
    padding: 40px;
}

.about2{
    margin-bottom: 50px;

}
.about2:last-child{
    margin-bottom: 0px;

}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}


.box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.year_company {
    min-width: 150px;
}
.year_company h5 {
text-transform: uppercase;
color: #848c90;
font-weight: 500;
}
.text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box {
position: relative;
width: 100%;
display: grid;
grid-template-columns: 150px 1fr;
justify-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;

}

.skills .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.interests ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interests ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px;
}
@media (max-width: 1000px);

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    

    color: white;
    text-align: center;
    padding: 1em;

}
